<div class="header">
  <%= link_to "Mynion", root_path, class:"header-logo" %>
  <% if user_signed_in? %>
    <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class:"header-left" %>
    <%= link_to "新規投稿", new_opinion_path, class:"header-right" %>
  <% else %>
    <%= link_to "新規登録", new_user_registration_path, class:"header-left" %>
    <%= link_to "ログイン", new_user_session_path, class:"header-right" %>
  <% end %>
  <div class="header-search">
    <%= link_to search_opinions_path do %>
      <%= image_tag 'ed2fe438699a3e428a7dc95d71dfee2c.png', width: 40, height: 25 %>
    <% end %>
  </div>
</div>