<%= render partial: "header" %>  
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @opinions.each do |opinion| %>
      <div class="col">
        <div class="card h-100">
          <%= image_tag (opinion.image) if opinion.image.attached? %>
          <div class="card-body">
            <h3 class="card-title text-center"><%= opinion.title %></h5>
            <p class="card-text text-center"><%= opinion.text %></p>
            <div class="btn-group">
              <button class="btn btn-secondary btn-sm dropdown-toggle btn-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                詳細
              </button>
              <ul class="dropdown-menu">
                <div class="text-center m-2">
                  <li>
                    <div id="like-btn<%= opinion.id %>">
                        <%= turbo_frame_tag dom_id(opinion, :like) do %>
                          <% if user_signed_in? && opinion.liked_by?(current_user)%>
                            <%=link_to "いいね済", opinion_likes_path(opinion.id), data: { turbo_method: :delete }, class: "btn btn-success", style: "text-decoration: none;", placeholder: "いいね済" %>
                          <% else %>
                            <%=link_to "いいね", opinion_likes_path(opinion.id), data: { turbo_method: :post }, class: "btn btn-outline-success", style: "text-decoration: none;", placeholder: "いいね" %>
                          <% end %>
                        <% end %>
                    </div>
                  </li>
                </div>
                <div class="text-center m-3">
                  <li>
                    <%= link_to "意見の詳細", opinion_path(opinion.id), class: "btn btn-secondary" %>
                  </li>
                </div>
              </ul>

            </div>
          </div>
          <div class="card-footer d-flex">
            <small class="text-body-secondary"><%= l opinion.created_at %></small>
            <h5 style="margin-left: 15px;">いいね数:</h5><%= opinion.likes.count %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= javascript_include_tag "refresh" %>