<%= render partial: "header" %>  
  <title>My Stylish Page</title>
  <link rel="stylesheet" href="html.css">
</head>
<body>
<div class="container">

  <div class="opinions">
    <% @opinions.each do |opinion| %>
      <div class="card my-3">
        <div class="card-body">
          <h5 class="card-title"><%= opinion.title %></h5>
          <p class="card-text"><%= opinion.text %></p>
          <p class="card-text"><%= l opinion.created_at %>
          <%= link_to "意見の詳細", opinion_path(opinion.id) %>
          <div class="image-tag">
            <%= image_tag (opinion.image.variant(resize: '500x500')) if opinion.image.attached? %>
          </div>
          <div id="like-btn<%= opinion.id %>">
            <%= render partial: "likes/like", locals: { opinion: opinion } %>
        </div>
      </div>
    <% end %>
  </div>
</div>