<%= render partial: "header" %>  
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @opinions.each do |opinion| %>
      <div class="col">
        <div class="card h-100">
          <%= image_tag (opinion.image) if opinion.image.attached? %>
          <div class="card-body">
            <h3 class="card-title text-center"><%= opinion.title %></h5>
            <p class="card-text text-center"><%= opinion.text %></p>
            <div class="btn-group">
              <button class="btn btn-secondary btn-sm dropdown-toggle btn-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                詳細
              </button>
              <ul class="dropdown-menu">
                <div class="text-center">
                  <li><a class="dropdown-item" href="#"><p class="card-text"><div id="like-btn<%= opinion.id %>"><%= render partial: "likes/like", locals: { opinion: opinion } %></div></a></li>
                </div>
                <div class="text-center">
                  <li><a class="dropdown-item" href="#"><p class="card-text"><%= link_to "意見の詳細", opinion_path(opinion.id) %></p></a></li>
                </div>
              </ul>
            </div>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary"><%= l opinion.created_at %></small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>