<%= render partial: "header" %>
  <title>My Stylish Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

<div class="container">
  
  </div>

  <div class="opinions">
      <div class="card my-3">
        <div class="card-body">
          <h5 class="card-title"><%= @opinion.title %></h5>
          <p class="card-text"><%= @opinion.text %></p>
          <p class="card-text"><%= @opinion.created_at %>
          <div class="image-tag">
            <%= image_tag (@opinion.image.variant(resize: '500x500')) if @opinion.image.attached? %>
          </div>
        </div>
      </div>
  </div>
  <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@opinion, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <p>＊＊＊ コメント投稿には新規登録/ログインが必要です ＊＊＊</p>
    <% end %>
    <div class="comments">
      <% @comments.each do |comment| %>
      <%= comment.text %>
      <% end %>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>