<%= render partial: "header" %>
<div class="container d-flex justify-content-center align-items-center">
  <div class="card my-3 w-50">
    <div class="card-body text-center">
      <h5 class="card-title"><%= @opinion.title %></h5>
      <p class="card-text"><%= @opinion.text %></p>
      <p class="card-text"><%= @opinion.created_at %></p>
      <div class="image-tag">
        <%= image_tag(@opinion.image.variant(resize: '500x500')) if @opinion.image.attached? %>
      </div>
    </div>
  </div>
  <div class="container w-50 text-center">
    <% if user_signed_in? %>
      <%= form_with(model: [@opinion, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2", class: "form-control" %>
        <%= form.submit "SEND", class: "btn btn-primary mt-4 mb-4" %>
      <% end %>
    <% else %>
      <p>＊＊＊ コメント投稿には新規登録/ログインが必要です ＊＊＊</p>
    <% end %>
    <ul class="list-group d-flex justify-content-center">
      <% @comments.each do |comment| %>
      <li class="list-group-item w-50"><%= comment.text %></li>
      <% end %>
    </ul>
  </div>
</div>